@using Microsoft.AspNetCore.Identity
@using Crociera.DB.Entities
@using System.Collections.Generic;
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@model List<PrenotazioneModel>;

@{
    ViewData["Title"] = "Eventi";
}

<div class="col-sm-12 text-center pasticcio">
    <h2 class="display-6">Dai un'occhiata ai nostri eventi! </h2>
    <p class="display-6">
        Goditi nuove e divertenti esperienze 24 ore su 24 su una nave Magia Crociere, un'incredibile scelta di spettacoli e di attività per il tempo libero, giorno e notte, per tutta la famiglia. Con cinema, tornei, divertenti attività all’aperto per tutta la famiglia, un magico intrattenimento di sera, ti aspetta un mondo di stile, meraviglia, sogno. Scopri Carousel Productions At Sea: un nuovo concetto di intrattenimento che fonde acrobazie mozzafiato, danza e musica dal vivo per creare un'esclusiva produzione originale appositamente progettata per le navi Magia Crociere.
        A bordo di una crociera Magia puoi vivere il glamour di una notte al casinò o provare l’adrenalina del Magia Formula Racer, puoi immergerti in un mondo d’avventura nel cinema 4D e giocare al bowling con la tua famiglia e gli amici. Divertiti dall’alba al tramonto, facendo tuto ciò che desideri, non ti resta che scegliere. Clicca qui sotto per scoprire tutte le attività di intrattenimento disponibili a bordo di una crociera Magia.
    </p>
</div>

<br>
<br>

@for (int i = 0; i < Model.Count; i++)
{
    if (Model[i].CodEvento == "0001")
    {
        <div class="col-sm-12">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="~/Src/Concerto.jpg" alt="VILLAGGIO 1" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">@Model[i].NomeEvento</h4>
                    @switch (@Model[i].CodReplica) // Non funziona mi dispiace..........(<3)
                    {
                        case "0001":
                            <p class="card-text"><b>Data e Ora: </b>@Model[i].DataEOra</p>
                            break;
                        case "0002":
                            <p class="card-text"><b>Data e Ora: </b>@Model[i].DataEOra</p>
                            break;
                        case "0003":
                            <p class="card-text"><b>Data e Ora: </b>@Model[i].DataEOra</p>
                            break;
                    }
                    @switch (@Model[i].CodLocale)
                    {
                        case "0001":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;
                        case "0002":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;
                        case "0003":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;
                        case "0004":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;
                    }

                    <button class="btn btn-sm btn-primary m-3" data-bs-toggle="collapse" data-bs-target="#villaggio1">Dettagli</button>

                    @*  @if (SignInManager.IsSignedIn(User))*@

                    <div id="v1">
                        <div class="mb-2">
                            <input id="idVillage" type="text" value="@Model[i].CodLocale" hidden></input>
                            <input id="posti" type="number" name=""></input>
                        </div>
                        <button class="btn btn-sm btn-success m-3 btn-prenotazione" onclick="updateTablePrenotazioni(@Model[i].CodReplica, @Model[i].CodUtente )">Prenota</button>
                    </div>
                    <div id="villaggio1" class="collapse">
                        Il @Model[i].NomeEvento è un evento super esclusivo riservato ai single che cercano la serata perfetta dove poter trovare l'anima gemella
                        o ascoltando della bellissima musica live.
                        Consumazioni non incluse.
                        <p class="card-text mt-4"><b>Prezzo Biglietto: </b> 20€</p>
                        <p class="card-text">Il prezzo è da intendersi a persona.</p>
                        <p class="card-text">1 Drink incluso</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
        break;
    }
}

@for (int i = 0; i < Model.Count; i++)
{
    if (Model[i].CodEvento == "0002")
    {
        <div class="col-sm-12">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="~/Src/Beethoven.jpg" alt="VILLAGGIO 1" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">@Model[i].NomeEvento</h4>
                    <p class="card-text"><b>Data e Ora: </b>@Model[i].DataEOra</p>
                    @switch (@Model[i].CodLocale)
                    {
                        case "0001":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;

                        case "0002":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;

                        case "0003":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;

                        case "0004":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;
                    }

                    <button class="btn btn-sm btn-primary m-3" data-bs-toggle="collapse" data-bs-target="#villaggio1">Dettagli</button>

                    @* @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
            {*@
                    <div id="v1">
                        <div class="mb-2">
                            <input id="idVillage" type="text" value="@Model[i].CodLocale" hidden></input>
                            <input id="posti" type="number" name=""></input>
                        </div>
                        <button class="btn btn-sm btn-success m-3 btn-prenotazione" data-div="v1" onclick="ButtonClick(this)">Prenota</button>
                    </div>
                    <div id="villaggio1" class="collapse">
                        Il @Model[i].NomeEvento è un evento fantastico adatto per le coppie che cercano una serata romantica in crociera, ascoltando della bellissima musica live.
                        Libro con le canzoni da cantare incluso.
                        <p class="card-text mt-4"><b>Prezzo Biglietto: </b> 25€</p>
                        <p class="card-text">Il prezzo è da intendersi a persona.</p>
                        <p class="card-text">1 Bicchiere di Spumante offerto</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
        break;
    }
}

@for (int i = 0; i < Model.Count; i++)
{
    if (Model[i].CodEvento == "0003")
    {
        <div class="col-sm-12">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="~/Src/Ventaglio.jpg" alt="VILLAGGIO 1" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">@Model[i].NomeEvento</h4>
                    <p class="card-text"><b>Data e Ora: </b>@Model[i].DataEOra</p>
                    @switch (@Model[i].CodLocale)
                    {
                        case "0001":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;

                        case "0002":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;

                        case "0003":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;

                        case "0004":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;
                    }

                    <button class="btn btn-sm btn-primary m-3" data-bs-toggle="collapse" data-bs-target="#villaggio1">Dettagli</button>

                    @* @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
            {*@
                    <div id="v1">
                        <div class="mb-2">
                            <input id="idVillage" type="text" value="@Model[i].CodLocale" hidden></input>
                            <input id="posti" type="number" name=""></input>
                        </div>
                        <button class="btn btn-sm btn-success m-3 btn-prenotazione" data-div="v1" onclick="ButtonClick(this)">Prenota</button>
                    </div>
                    <div id="villaggio1" class="collapse">
                        Il @Model[i].NomeEvento è un evento da non perdere! Quando mai vi ricapiterà di poter ascoltare il Ventaglio sul mare??? Questo è il nostro evento per eccellenza dove misceliamo un insieme di arte e magia!
                        Biccchiere di Champagne incluso.
                        <p class="card-text mt-4"><b>Prezzo Biglietto: </b> 35€</p>
                        <p class="card-text">Il prezzo è da intendersi a persona.</p>
                        <p class="card-text">1 Drink incluso</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
        break;
    }
}

@for (int i = 0; i < Model.Count; i++)
{
    if (Model[i].CodEvento == "0004")
    {
        <div class="col-sm-12">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="~/Src/Poolparty.jpg" alt="VILLAGGIO 1" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">@Model[i].NomeEvento</h4>
                    <p class="card-text"><b>Data e Ora: </b>@Model[i].DataEOra</p>
                    @switch (@Model[i].CodLocale)
                    {
                        case "0001":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;

                        case "0002":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;

                        case "0003":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;

                        case "0004":
                            <p class="card-text"><b>Nome Locale: </b>@Model[i].Nome</p>
                            <p class="card-text"><b>Luogo: </b>@Model[i].Luogo</p>
                            <p class="card-text"><b>Posti: </b>@Model[i].Posti</p>
                            break;
                    }

                    <button class="btn btn-sm btn-primary m-3" data-bs-toggle="collapse" data-bs-target="#villaggio1">Dettagli</button>

                    @* @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
            {*@
                    <div id="v1">
                        <div class="mb-2">
                            <input id="idVillage" type="text" value="@Model[i].CodLocale" hidden></input>
                            <input id="posti" type="number" name=""></input>
                        </div>
                        <button class="btn btn-sm btn-success m-3 btn-prenotazione" data-div="v1" onclick="ButtonClick(this)">Prenota</button>
                    </div>
                    <div id="villaggio1" class="collapse">
                        Il @Model[i].NomeEvento è pool party più grande delle crociere Europee! Vieni a provarlo e non te ne pentirai! Musica e divertimento allo stato puro!
                        Consumazioni illimitate.
                        <p class="card-text mt-4"><b>Prezzo Biglietto: </b> 30€</p>
                        <p class="card-text">Il prezzo è da intendersi a persona.</p>
                        <p class="card-text">Open Bar!</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
        break;
    }
}
